/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h1,
h2,
h3 {
  color: #76323F;
}
h3 {
  font-size: 2.5rem;
}
p {
  font-size: 3.5rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 1px 2px;
  background-color: #D7CEC7;
}
@media (max-width:500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
  }
}
header h1 {
  padding-left: 8rem;
}
header .nav-box {
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
  width: 35rem;
}
header .nav-box a {
  font-weight: bold;
  text-decoration: none;
  padding-right: 2.6rem;
  color: #76323F;
}
header .nav-box a:hover {
  color: #C09F80;
  text-decoration: underline;
}
footer {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70rem;
}
.section1 h1 {
  padding: 5rem;
}
.section1 .missionStatement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
.section1 .missionStatement p {
  color: #76323F;
}
.section1 .btn-box {
  margin-bottom: 3rem;
  border-radius: 1rem;
  background-color: #C09F80;
  height: 10rem;
  width: 25rem;
}
.section1 .btn-box .btn {
  height: 6rem;
  width: 20rem;
  font-weight: bold;
  border-radius: 1rem;
  border: 0.3rem solid #76323F;
  transition-duration: 0.2s;
}
.section1 .btn-box .btn:hover {
  color: #76323F;
  background-color: #D7CEC7;
}
.section2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50rem;
  background-color: #D7CEC7;
}
.section2 h2 {
  display: flex;
  justify-content: center;
}
.section2 p {
  display: flex;
  justify-content: end;
  width: 60rem;
  padding: 2rem;
  background-color: white;
}
.section2 .img-content {
  display: flex;
  max-width: 100%;
  width: 50rem;
  height: 40rem;
}
.section3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
  width: 100%;
  height: 50rem;
  margin-right: 8rem;
  margin-bottom: 8rem;
}
.section3 h2 {
  display: flex;
  justify-content: center;
}
.section3 p {
  display: flex;
  justify-content: end;
  width: 60rem;
  padding: 4rem;
  background-color: #D7CEC7;
}
.section3 .img-content {
  display: flex;
  max-width: 100%;
  width: 55rem;
  height: 40rem;
  padding-right: 4rem;
}
