header{
   display:flex;
   justify-content: space-around;


   .title{
      display:flex;
      justify-content: center;
      background-color: palevioletred;
   }

   .nav-box{
      display: flex;
      justify-content: center;
      background-color: plum;

   }
}