header{
   display:flex;
   justify-content: space-between;
   padding:2rem;
   background-color: @Background-box-color;

   h1{
      padding-left: 8rem;
   }

   .nav-box{
      font-size: 3rem;
      display: flex;
      align-items:flex-end;
      width:30rem;

      a{
         padding-right: 7rem;
         color:@Title-color;
      }

   }
}